@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background: url(../Imagenes/textura2.jpg);
}
header{
    background: linear-gradient(to right,rgba(8, 58, 99, 0.432),rgba(19, 146, 184, 0.377)),url(../Imagenes/encabezado.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.grid{
    height: 100%;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    grid-column-gap: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    grid-column-gap: 20px;
    margin-bottom: 3rem;
}
.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Navegador */
nav{
    background: rgba(0, 0, 0, 0.466);
    height: 90px;
}
/*Logo*/
.logo-container{
    grid-column: 1/4;
}
.logo-container p{
    font-size: 25px;
    color: white;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}
/*Enlaces*/
.menu-container{
    display: none;
}
.enlaces-container{
    grid-column: 4/11;
}
.enlaces-container a{
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
}
.enlace-inicio i{
    margin-left: 5px;
    font-size: 18px;
}
.enlaces-container a:hover{
    color: rgb(48, 201, 27);
}
.enlaces-container>ul{
    display: flex;
    justify-content: center;
}
.enlaces-container ul{
    list-style: none;
}
.enlaces-container>ul>li>a{
    color: white;
    font-weight: 700;
    display: block;
}
.enlaces-container ul ul{
    transform: scale(0);
    position: absolute;
    background: white;
    margin-top: 10px;
}
.enlaces-container ul ul::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
}
.enlaces-container ul ul a{
    color: black;
    font-weight: 700;
}
.enlaces-container>ul>li:hover >ul{
    transform: scale(1);
    transition: .4s;
}


.compra-container{
    grid-column: 11/13;
    text-align: end;
}
.compra-container a{
    background: rgb(94, 185, 42);
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.compra-container a:hover{
    background: black;
    color: rgb(94, 185, 42);
    transition: .4s;
}

/*Encabezado*/
.encabezado{
    height: 100%;
}
.encabezado-text{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado-text h1{
    text-align: center;
    font-size: 90px;
    font-family: 'Lobster', cursive;
    color: rgb(202, 255, 251);
    text-shadow: black 0 0 10px;
}
.subtitulo2{
    display: none;
}
.encabezado-text p{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

/*Section: Nosotros*/
.encabezado-section,.grid-container{
    grid-column: 1/-1;
}
.encabezado-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.encabezado-section h2{
    font-size: 35px;
    padding: 3rem 0;
    color: rgb(0, 87, 0);
}
.encabezado-section h2:hover{
    cursor:default;
    color: rgb(88, 141, 8);
    transition: .4s;
}
.encabezado-section a{
    text-decoration: none;
    color: white;
    background: rgb(10, 55, 122);
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
.encabezado-section a:hover{
    background: black;
    color: white;
    transition: .5s;
}
.nosotros-img{
    grid-column: 1/7;
}
.nosotros-img img{
    object-fit: cover;
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
}
.nosotros-text{
    grid-column: 7/13;
}
.nosotros-text h3{
    font-size: 30px;
}
.nosotros-text p{
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
}

/*Servicios*/
#servicios{
    background: rgba(128, 128, 128, 0.5);
}
.servicios{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(214, 218, 217);
    padding: 20px;
}
.servicios h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.img-servicios{
    max-height: 170px;
    max-width: 170px;
}
.img-servicios img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
.servicios p{
    text-align: justify;
    margin-top: 20px;
}
/*Locales*/
.locales-container{
    grid-column: 1/-1;
    height: 350px;
}
.locales-container iframe{
    height: 100%;
    width: 100%;
    
}
.locales{
    grid-column: span 4;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.87);
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.locales h3{
    font-size: 20px;
}
.locales p{
    margin-bottom: 5px;
}
/*Contactos*/
#contactos{
    padding-bottom: 50px;
    background: linear-gradient(to right, rgba(3, 3, 32, 0.479),rgba(8, 66, 100, 0.39)),url(../Imagenes/encabezado2.jpg);
    background-position: center;
    background-size: cover;
}
#titulo-contactos{
    color: yellowgreen;
}
.form{
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.637);
    padding: 20px;
}
.form h3{
    font-size: 25px;
}
.input{
    height: 50px;
    padding: 10px;
    border: none;
    border-bottom:1px solid rgb(139, 221, 16);
    margin: 15px 0;
    background: none;
    font-weight: 700;
    outline: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.76));
}
.input::placeholder{
    color: rgb(168, 168, 168);
}
.input:focus{
    border: 2px solid rgb(106, 170, 11);
}
#mensaje{
    height: 150px;
}
#boton{
    background: rgb(98, 139, 15);
}
.sociales-container{
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sociales-container h3{
    font-size: 25px;
}
.enlaces-sociales-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.enlaces-sociales-container a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    width: 50px;
    height: 50px;
}
.enlaces-sociales-container i{
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#facebook i:hover{
    color: rgb(12, 46, 109);
    background: radial-gradient(circle , rgb(255, 255, 255),rgb(255, 255, 255));
}
#whatsapp i:hover{
    color: rgb(8, 82, 8);
    background: radial-gradient(circle , rgb(255, 255, 255),rgb(255, 255, 255));
}
#instagram i:hover{
    color: rgb(122, 4, 122);
    background: radial-gradient(circle , rgb(255, 255, 255),rgb(255, 255, 255));
}
/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: rgb(27, 27, 27);
}
footer p{
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
@media (max-width:900px){
    .logo-container{
        grid-column: 1/10;
    }
    .logo-container p{
        font-size: 30px;
    }
    .compra-container{
        display: none;
    }
    .enlace-container{
        display: none;
    }
    .menu-container{
        display: block;
        text-align: end;
    }
    #menu i{
        font-size: 30px;
    }
    .enlaces-container{
        grid-column: 10/13;
        display: flex;
        justify-content: flex-end;
    }
    /*Nosotros*/
    .nosotros-img{
        grid-column: 1/-1;
        margin: auto;
        margin-bottom: 50px;
        max-width: 500px;
    }
    .nosotros-text{
        grid-column: 1/-1;
    }
    /*Servicios*/
    .servicios{
        grid-column: 1/-1;
        margin-bottom: 50px;
    }
}
@media (max-width:750px){
    .encabezado-text h1{
        font-size: 70px;
    }
    .locales-img:first-child{
        grid-column: 1/-1;
    }
    .locales-img:nth-child(2){
        display: none;
    }
    .locales{
        grid-column: span 6;
    }
    .form{
        grid-column: 1/-1;
    }
    .sociales-container{
        grid-column: 1/-1;
    }
    .enlaces-sociales-container{
        flex-direction: row;
        margin-top: 20px;
    }
}
@media (max-width:500px){
    .encabezado-text p{
        font-size: 38px;
    }
    .subtitulo1{
        display: none;
    }
    .subtitulo2{
        display: block;
    }
    .encabezado-section h2{
        font-size: 30px;
    }
    .encabezado-section a{
        font-size: 15px;
    }
}